/*Importando fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    /*Aplicando fonte na pag toda, tirando a margem e o padding*/
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
}

/*Formatação*/
#logo{
    width: 200px;
    cursor: pointer;
}

/*Formatação*/
nav{
    padding: 15px 30px 15px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#box-logou{
    color: #0474bc;
    display: none;
}

.nav-item{
    margin: 7px;
}

/*Formatação*/
.box-pesquisa{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.81);
    padding: 5px 20px 5px 20px;
    width: 350px;
    height: 40px;
    gap: 15px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}

/*Formatação*/
.box-pesquisa input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

/*Formatação*/
.box-login{
    font-size: 13px;
    cursor: pointer;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: #0474bc;
    border: none;
    color: aliceblue;
}

/*Efeito passar o mouse encima*/
.box-login:hover{
    background-color: transparent;
    border: 1px solid #0474bc;
    color: #0474bc;
}

/*Formatação*/
#btn-cadastro{
    color: aliceblue;
    text-decoration: none;
}

/*Formatação*/
#btn-cadastro:hover{
    color: #0474bc;
}

/*Formatação*/
#box-carrinho i{
    color: #0474bc;
    font-size: 25px;
}

/*Formatação*/
#box-carrinho{
    color: inherit;
    cursor: pointer;
    justify-content: center;
    align-items: center ;
    gap:15px;
    display: flex;
}

/*Formatação*/
#box-carrinho:hover{
    color: #0474bc;
}

/*Formatação*/
nav ul{
    cursor: pointer;
    list-style: none;
    gap: 50px;
    display: flex;
    align-items: center;
}

/*Efeito passar o mouse encima*/
li:hover{
    color: #0474bc;
}

/*Formatação*/
#tds-categorias{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #0474bc;
    padding: 10px;
    color: aliceblue;
    border-radius: 20px;
    font-size: 13px;
}

/*Efeito passar o mouse encima*/
#tds-categorias:hover{
    background-color: transparent;
    border: 1px solid #0474bc;
    color: #0474bc;
}

/*Formatação*/
.swiper {
    padding: 0px;
    margin: 0px;
    width: 100vw;
}

/*Formatação*/
.swiper-slide img{
    width: 100%;
}
div.swiper-button-prev, div.swiper-button-next{
    height: 25px;
    width: 25px;
    padding: 30px;
    background-color: aliceblue;
    border-radius: 50%;
}

/*Formatação*/
#categorias{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: none; /*O display vem none por padrão, ai quando a pessoa passar o dedo encima do "todas as categorias", vai ser chamada uma função no js, na qual vai mudar o display pra "flex". */
    justify-content: space-evenly;
    transition: 1s;

}

/*Formatação*/
#nav-categorias{
    flex-direction: column;
}

#nav-categorias-itens a:hover{
    color: #0474bc;
}

#nav-categorias-itens{
    gap: 10px;
}

/*Formatação*/
#categorias ul{
    display: inline;
    padding: 10px;
}

#categorias li {
    margin: 15px;
}

.img-thumbnail p{
    text-align: justify;

}

.mp-item{
    transition: transform .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(234, 234, 234);
}

.mp-item:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#box-comprar {
    position: relative;
    bottom: 0;
    width: 100%;
}


