@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.conteiner-area-1{
    
    background-color: rgb(0,0,0);
    display: flex;
    flex-direction: column;
    align-items: center;

}

video{
    width: 500px;
    padding: 50px;
}

#mini-text-event{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    color: #f5f5f5;
    background-color: transparent;
    border: solid #f5f5f5;
    margin-top: 25px;
    width: 200px;
    height: 55px;
    border-radius: 55px;
    font-size: 18px;
    cursor: pointer;
}
.button:hover{
    background-color: #f5f5f5;
    color: black;

}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 15px;
}

li{
    list-style-type: none;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: #f5f5f5;
}

nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 15px 30px;
}

#mini-text-event p {
    margin: 0;
    font-family: 'SF Pro Display', sans-serif;
    width: 987px;
    text-indent: 36pt;
    font-size: 32px;
    padding: 15px 25px 15px 25px;
    text-align: justify;
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, #f5f5f5, #8293a5);
}

#box-logo{
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center ;
    cursor: pointer;

}
#box-logo h1{
    align-items: center;
    font-weight: 700;
    font-size: 40px;
}

.text-produto span{
    margin-top: 15px;
}

#ver-precos,#saiba-mais{
    color: rgb(41, 151, 255);;
    font-size: 21px;
}

#ver-precos:hover,#saiba-mais:hover{
    text-decoration: underline;
}

#ver-precos{
    margin-left: 35px;
}

.text-produto{
    margin-top: 50px;
    padding: 20px;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.text-produto p{
    color: #86868B;
    font-size: 21px;
    margin-top: 15px;
}

.text-produto h3{
    font-size: 28px;
    margin-top: 6px;
}
.text-produto h1{
    font-size: 56px;
}


#prod-principal{
    margin-top: 50px;
    width: 100px;
}
/*Conteiner area 2*/

.conteiner-area-2{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-produto-2{
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#iphone-15{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-produto-2 p{
    color: #86868B;
    font-size: 21px;
    margin-top: 15px;
}

.text-produto-2 h3{
    font-size: 28px;
    margin-top: 6px;
}
.text-produto-2 h1{
    font-size: 56px;
}

.conteiner-area-2 img{
    width: 500px;
}

/*Conteiner area 3*/

.conteiner-area-3{
    width: 100%;
    height: 1000px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-produto-3{
    margin-top: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#relógio{
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-produto-3 p{
    color: #86868B;
    font-size: 21px;
    margin-top: 15px;
}

.text-produto-3 h3{
    font-size: 28px;
    margin-top: 6px;
}
.text-produto-3 h1{
    font-size: 56px;
}

.conteiner-area-3 img{
    width: 950px;
}

#watch-9{
    width: 250px;
}

#apple-logo{
    font-size: 45px;
}

@media screen and (max-width:1050px) {

    #mini-text-event p {
        width: 50%;
    }

    video{
        width: 60%;
        padding: 0;
    }

    .conteiner-area-2 img{
        width: 50%;
    }
    img{
        width: 100%;
    }

    .text-produto-3 img{
        width: 100%;
    }

    
    
}
@media screen and (max-width:700px) {

    .text-produto h3,.text-produto-2 h3,.text-produto-3 h3{

        font-size: 20px;

    }

    #mini-text-event p{
        width: 80%;
        text-align: justify;
    }

    .conteiner-area-3{
        height: auto;
    }
    .conteiner-area-2{
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #iphone-15{
        margin-top: 10px;
    }

    .text-produto-3{
        margin-top: 10px;
    }
    #iphone-15-pro span{
        margin-top: 10px;
    }

}

@media screen and (max-width:700px) {

    .text-produto,.text-produto-2,.text-produto-3{

        text-align: center;
    }
    .text-produto p,.text-produto-2 p,.text-produto-3 p{

        font: 10px;
    }

    ul a{
        font-size: 15px;
    }

    #ver-precos, #saiba-mais{

        font-size: 15px;
    }

    #watch-9{
        width: 140px;
    }

    #paragrafo-1, #paragrafo-2,#paragrafo-3{
        font-size: 15px;
    }
    #iphone-15-pro h1, #iphone-15 h1, #relogio h1{

        font-size: 40px;

    }
    #apple-logo{
        font-size: 35px;
    }
    #relógio{
        padding: 30px 0 30px 0;
    }

}